{% extends "page.twig" %}

{% block content %}

	<div class="container-fluid">

		<div class="row">

			<div class="section">
				{% if user %}

					<p>
						Welcome back!
					</p>

					<ul>
						<li><a href="/wp-admin/edit.php?post_type=candidate">View and edit candidate profiles</a></li>
					</ul>

				{% else %}

					<a class="button" href="{{ fn('wp_login_url') }}">
						&rarr; Log in here
					</a>

				{% endif %}
			</div>

		</div>

	</div>

{% endblock %}