{% extends "base.twig" %}

{% block content %}

	<article>

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-8 col-md-offset-2">

					{% block single_header %}

						<header>

							<h1>
								{{ post.title }}
							</h1>

						</header>

					{% endblock %}

					{% block single_body %}

						<div class="the-content">
							{{ post.content}}
						</div>

					{% endblock %}

					{% block single_footer %}

						<footer>

						</footer>

					{% endblock %}

				</div>

			</div>

		</div>

	</article>

{% endblock %}
