/**
 * SCSS Components
 *
 * Styling for the site can be included here, or split into multiple files.
 * 
 */

.main-footer {
    padding: $spacing/2 0;
    text-align: center;
    font-style: italic;
}